*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  background-color:var(--background-color);
  color:var(--text-color);
}

body,
input,
button,
table td,
table th{
  font-family:'Inter',sans-serif;
  font-size:16px;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
  color:var(--text-color);
}

ul{
  list-style:none;
}

h1,
h2,
h3{
  font-weight:700;
}
h1{
  margin-bottom:48px;
  font-size:38px;
}
h2{
  margin-bottom:28px;
  font-size:24px;
}
h3{
  margin-bottom:20px;
  font-size:20px;
}
p{
  margin-bottom:20px;
  font-size:16px;
  text-indent:32px;
}
