:root{
  --background-color:255 255 255;
  --text-color:0 0 0;
  --primary-color:255 0 0;
  --divider-color:204 204 204;
}

:root.dark{
  --background-color:0 0 0;
  --text-color:255 255 255;
  --primary-color:255 0 0;
  --divider-color:204 204 204;
}
