*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  background-color:var(--background-color);
  color:var(--text-color);
}

body,
input,
button,
table td,
table th{
  font-family:'Inter',sans-serif;
  font-size:16px;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
}
