*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body,
input,
button,
table td,
table th{
  font-family:'Archivo',sans-serif;
  font-size:16px;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
}
